extends ../base.pug

block content
  h3 Experiment #{exp.key.id}
    | &nbsp;
    small= exp.data.creationDate

  each participant in exp.data.participants
    .media
      a(href=`/parts/${participant}`)
        .media-body
          h4= "Participant"
            | &nbsp;
            small= participant
