extends ../base.pug

block content
  h3 Experiment #{id}
    | &nbsp;
    small= data.creationDate

  each participant in data.participants
    .media
      a(href=`/parts/${participant}/`)
        .media-body
          h4= "Participant"
            | &nbsp;
            small= participant
