extends ../base.pug

block content
  h3 Result

  -
    var i = exp.finishedRound - 1;

  p
    i
      This screen will automatically move forward in 20 seconds.

  p Here are the results for each member of the group:

  p Contributed to the group fund:

  p
    each part in parts
      unless part.excluded
        li #{part.name} #{part.contributions[i]}


  p Group funds = #{exp.funds[i]}

  p Group earnings = #{exp.earnings[i]}

  p Amount each participant ends up with:

  p
    each part in parts 
      if part.excluded
        li #{part.name} was excluded (received no points).
      else 
        li #{part.name} #{part.endOfTurnBalances[i]}

  p Note: These points are yours to keep and will be unaffected by how you play in future rounds.

  form(action="next-round" method="POST")
    p Please click 
      input(type="submit" value="Here")
      | &nbsp;to start next round.
