extends ../base.pug

block content
  h3 Result

  -
    var i = exp.finishedRound - 1;

  p
    i
      This screen will automatically move forward in 20 seconds.

  p Here are the results for each member of the group:

  if exp.settings.fakeReputationEnabled
    p Claimed contribution to the group fund:

    p
      each part in parts
        unless part.excluded
          li #{part.name} #{part.claimedContributions[i]}

    p You actually contribute #{myself.contributions[i]}

    p Claimed group funds = #{exp.claimedFunds[i]}

    p Actual group funds = #{exp.funds[i]}

    p Group earnings = #{exp.earnings[i]}

    p Amount each participant claimed to earn in this round:

    p
      each part in parts 
        if part.excluded
          li #{part.name} was excluded (received no points).
        else 
          li #{part.name} #{part.claimedIncomes[i]}

    p You actually earn #{myself.incomes[i]}

    p Amount each participant claimed to end up with:

    p You claimed to end up with #{myself.claimedBalance}

    p You actually end up with #{myself.balance}

  else 
    p Contributed to the group fund:

    p
      each part in parts
        unless part.excluded
          li #{part.name} #{part.contributions[i]}

    p Group funds = #{exp.funds[i]}

    p Group earnings = #{exp.earnings[i]}

    p Amount each participant earns in this round:

    p
      each part in parts 
        if part.excluded
          li #{part.name} was excluded (received no points).
        else 
          li #{part.name} #{part.incomes[i]}

    p Amount each participant ends up with:

    p You end up with #{myself.balance}

  p Note: These points are yours to keep and will be unaffected by how you play in future rounds.

  form(action="next-round" method="POST")
    p Please click 
      input(type="submit" value="Here")
      | &nbsp;to start next round.
